.tms-content {
    height: 100vh;
}

/* .tms-content-sidenav {
    
} */

.tms-sidebar-search-input {
    height: auto;
}

/* .item-content {
    margin-top: 0px;
} */

.tms-content-main {
    height: 100vh;
}

.tms-icon-style {
    width: 16;
    height: 16;
}